.jcarousel-wrapper {
    position: relative;
    width: 760px;
    height: 330px;
    margin-bottom: 12px;
}
.jcarousel-wrapper.jcarousel-with-top5 {
    width: 540px;
    height: 280px;
}

/** Carousel **/
.jcarousel {
    position: relative;
    overflow: hidden;
    border: 1px solid #ccc;
}
.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}
.jcarousel li {
    background: #fff;
    float: left;
    width: 760px;
    max-width: 760px;
    height: 300px;
}
.jcarousel img {
    max-height: 300px;
    width: 760px;
    max-width: 760px;
}
.jcarousel-with-top5 .jcarousel li {
    float: left;
    max-width: 540px;
    width: 540px;
    height: 250px;
}
.jcarousel-with-top5 .jcarousel img {
    width: 540px;
    max-width: 540px;
    max-height: 250px;
}

/** Carousel Controls **/
.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 200px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}
.jcarousel-control-next,
.jcarousel-control-prev {
    display: none;
    left: -50px;
}
.jcarousel-control-next {
    right: -50px;
}
.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}
.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .5;
    cursor: default;
}

/** Carousel Pagination **/
.jcarousel-pagination {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
}
.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    text-indent: -9999px;
    font-size: 11px;
    line-height: 11px;
    width: 11px;
    height: 11px;
    background: #4E443C;
    border-radius: 11px;
    text-align: center;
    margin-right: 2px;
    opacity: .4;
    margin: 0 3px;
}
.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}
